<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="vertical-center" >
    <div class="center" style="background-color: #3880ff;" >
      <ion-img [src]="logoimg"></ion-img>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-card>
          <ion-card-header class="vertical-center">
            <ion-card-title>Welcome Peeps!!</ion-card-title>
            <!-- <ion-card-title>Peeps!!</ion-card-title> -->
            <ion-card-subtitle>Please Enter your Details</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <!-- <ion-input type="text" [(ngModel)]="user.email"></ion-input> -->
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="loginForm.get('email').hasError(validation.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <!-- <ion-input type="password" [(ngModel)]="user.password"></ion-input> -->
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="loginForm.get('password').hasError(validation.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                  {{ validation.message }}
                </div>
              </ng-container>
            </div>
        
            <ion-button class="submit-btn, ion-padding" type="submit" [disabled]="!loginForm.valid">Login</ion-button>
            <ion-button class="ion-padding" (click)="reset()" color="light">Forgot</ion-button>
            <br>
            <br>
            <!-- <br> -->
            <label class="error-message, ion-padding">{{errorMessage}}</label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </form>  
  </div>
  
</ion-content>
