<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Timesheet
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/timesheet/add"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-divider *ngFor="let timesheet of timesheets" class="ion-padding">
      <ion-label slot="start">
        {{timesheet.dateDone}}, {{timesheet.timeSpent}}hrs
      </ion-label>
      <ion-label>
        {{timesheet.work}}
      </ion-label>
      <ion-label slot="end">
        {{timesheet.assignedBy}}
      </ion-label>
    </ion-item-divider>
  </ion-list>
</ion-content>
