<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>Edit Asset Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editAssetForm" (ngSubmit)="updateAsset(editAssetForm.value)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Edit Information</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating"> ID</ion-label>
          <ion-input type="text" formControlName="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Type</ion-label>
          <ion-input type="text" formControlName="type"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Location</ion-label>
          <ion-input type="text" formControlName="location"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <ion-input type="text" formControlName="department"></ion-input>
        </ion-item>
        <ion-button type="submit" class="ion-padding, submit-btn" expand="block">Update</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>

