<ion-app>
  <ion-menu side="start" menuId="mainNav">
    <ion-header>
      <!-- <ion-img [src]="../assets/img/logo.png"></ion-img> -->
      <ion-toolbar color="primary">
        <ion-title>
          Idea Elan
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
       <ion-menu-toggle>
        <ion-item lines="none" routerLink="/home">
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-label>Dashboard</ion-label>
        </ion-item>
       </ion-menu-toggle>
       <ion-menu-toggle>
        <ion-item lines="none" routerLink="/employees-list">
          <ion-icon name="list-outline" slot="start"></ion-icon>
          <ion-label>Employees List</ion-label>
        </ion-item>
       </ion-menu-toggle>
       <ion-menu-toggle>
        <ion-item lines="none" routerLink="/chat">
          <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
          <ion-label>Chat</ion-label>
        </ion-item>
       </ion-menu-toggle>
       <ion-menu-toggle>
        <ion-item lines="none" routerLink="/login">
          <ion-icon name="power-outline" slot="start"></ion-icon>
          <ion-label>Logout</ion-label>
        </ion-item>
       </ion-menu-toggle>
        
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>
