<ion-header>
  <ion-toolbar color="#f4f5f8">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{employee.employeeName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <!-- <ion-card-title>{{}}</ion-card-title> -->

      <div><b>Employee ID: </b>{{employee.employeeId}}</div><hr>
      <div><b>Email: </b>{{employee.email}}</div><hr>
      <div><b>Department: </b>{{employee.department}}</div><hr>
      <div><b>Position: </b>{{employee.position}}</div><hr>
      <div><b>DOB: </b>{{employee.dob}}</div><hr>
      <div><b>Anniversary: </b>{{employee.anniversary}}</div><hr>
      <div><b>Mobile: </b>{{employee.mobile}}</div><hr>
      <div><b>Join Date: </b>{{employee.joinDate}}</div>
    </ion-card-content>
  </ion-card>
</ion-content>
