<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Employee Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>{{employee.employeeName}}</ion-card-title>

      <p><b>Employee ID: </b>{{employee.employeeId}}</p>
      <p><b>Email: </b>{{employee.email}}</p>
      <p><b>Department: </b>{{employee.department}}</p>
      <p><b>Position: </b>{{employee.position}}</p>
      <p><b>DOB: </b>{{employee.dob}}</p>
      <p><b>Anniversary: </b>{{employee.anniversary}}</p>
      <p><b>Mobile: </b>{{employee.mobile}}</p>
      <p><b>Join Date: </b>{{employee.joinDate}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
