<ion-header>
  <ion-toolbar color="#f4f5f8">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>
     Assets
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/create-asset"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let asset of assets">
      <ion-item lines="full" routerLink="/asset-details/{{asset.key}}">
        
        <p><b>Type: </b></p>{{asset.type}}
        <!-- <p><b>Location: </b></p>{{asset.location}} -->
        <p slot="end"><b>Department: </b>{{asset.department}}</p>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(asset.key)">
          <ion-icon name="pencil-outline" slot="start"></ion-icon>
          EDIT
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(asset.key)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>  
          DELETE
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>