<ion-header [translucent]="true">
  <ion-toolbar color="#f4f5f8">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
        <ion-card-title class="ion-padding" color="primary">{{correctEmployee.employeeName}}</ion-card-title>
        <!-- <ion-card-title>Manasa</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      <div class="ion-padding">
        <ion-label class="ion-padding ion-text-uppercase" color="tertiary">Emp ID:</ion-label>
        <span>{{correctEmployee.employeeId}}</span>
      </div>
      <div class="ion-padding">
        <ion-label class="ion-padding ion-text-uppercase" color="tertiary">Department:</ion-label>
        <span>{{correctEmployee.department}}</span>
      </div>
      <div class="ion-padding">
        <ion-label class="ion-padding ion-text-uppercase" color="tertiary">Mobile:</ion-label>
        <span>{{correctEmployee.mobile}}</span>
      </div>
      <!-- <div class="ion-padding">
        <ion-label class="ion-padding ion-text-uppercase">Join Date:</ion-label>
        <span>{{correctEmployee.joinDate}}</span>
      </div> -->
      <div class="ion-padding">
        <ion-label class="ion-padding ion-text-uppercase" color="tertiary">Designation:</ion-label>
        <span>{{correctEmployee.position}}</span>
      </div>
    </ion-card-content>
  </ion-card>
  
</ion-content>
