<ion-header>
  <ion-toolbar color="#f4f5f8">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Add an Employee</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Employee ID</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="employee.id"></ion-input> -->
          <ion-input type="text" formControlName="id"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Employee Name</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="employee.name"></ion-input> -->
          <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <!-- <ion-item>
          <ion-label position="floating">Profile Photo</ion-label>
          <ion-input type="file" formControlName="profilePic"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label position="floating">Email ID</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="employee.email"></ion-input> -->
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <!-- <ion-input type="password" [(ngModel)]="employee.password"></ion-input> -->
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Department</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="employee.department"></ion-input> -->
          <ion-input type="text" formControlName="department"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Position</ion-label>
          <!-- <ion-input type="text" [(ngModel)]="employee.position"></ion-input> -->
          <ion-input type="text" formControlName="position"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Date of Birth</ion-label>
          <!-- <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="employee.dob" ></ion-datetime> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dob" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Anniversary</ion-label>
          <!-- <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="employee.anni" ></ion-datetime> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="anniversary" ></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contact Number</ion-label>
          <!-- <ion-input type="phone" [(ngModel)]="employee.mobile"></ion-input> -->
          <ion-input type="phone" formControlName="mobile"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Join Date</ion-label>
          <!-- <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="employee.join"></ion-datetime> -->
          <ion-datetime displayFormat="DD/MM/YYYY" formControlName="joinDate"></ion-datetime>
        </ion-item>
        <ion-button type="submit" class="ion-padding, submit-btn" expand="block" [disabled]="!registerForm.valid">Add</ion-button>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
