<ion-header>
  <ion-toolbar color="#f4f5f8">
    <ion-buttons slot="start">
      <ion-menu-button menu="mainNav"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Employee List
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/register"><ion-icon name="add-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let employee of employees">
      <ion-item detail lines="full" routerLink="/detail/{{employee.key}}">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        {{employee.employeeName}}
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="edit(employee.key)">
          <ion-icon name="pencil-outline" slot="start"></ion-icon>
          EDIT
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(employee.key)">
          <ion-icon name="trash-outline" slot="start"></ion-icon>  
          DELETE
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
